// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
.load_more_text{
	display: none;
}
.show_mobile{
	display: none;
}
.desc-tabs__tab_open{
	display: none;
}

@include mq($max-width: 768px) {
.hide_mobile{
	display: none;
}
.show_mobile{
	display: block;
}
  .phone-num-head, .head-icons-wrap .lang, .head-icons-wrap .icon-account{
  	display: none;
  }
  .logo-head{
  	height: 63px;
  	width: 63px;
  	margin-top: 13px;
  	background:transparent url('../images/logo-img.png') left top no-repeat;
  	background-size: 63px auto;
  	img{
  		display: none;
  	}
  }
  .header{
  	height: 91px;
  }
  .head-icons-wrap, .navbar-toggle{
  	margin-top: 29px;
  }
  .main-menu{
  	top: 95px;
  }
  .main-promo-sw__inner{
  	width: 100% !important;	
  }
  .main-promo-slider-wrap .info-block{
  	position: static;
  	width: 100%;
  	display: block;
  }
  	.main-promo-slider-wrap .info-block .text-wrap{
  		width: 100%;
  		height: auto;
  	}
  	.main-promo-slider-wrap .info-block .cell{
  		padding: 20px 10px;
  	}
  		.main-promo-slider-wrap .info-block .title{
  			font-size: 30px;
  		}
  		.main-promo-slider-wrap .info-block .desc{
  			font-size: 16px;
  		}
  	.main-promo-slider-item{
  		height: 220px;
  	}
  	.main-promo-slider .slick-dots{
  		width: 100%;
  		right: 0;
  		text-align: center;
  		display: block;
  		height: 20px;
  		bottom: 20px;
  		top: auto;
  		a{
  			display: inline-block;

  		}
  		li{
  			display: inline-block;
  			margin: 0 10px;
  		}
  	}
  		.main-promo-slider .slick-dots li:last-child{
  			margin: 0 10px;
  		}
  	.second-menu-btn{
  		padding: 25px  0;
  		margin: 0;
  		padding-bottom: 10px;
  		height: auto;
  		.btn{
  			height: 110px;
  			padding: 0;
  			margin-bottom: 10px;
  			font-size: 14px;
  			padding-top: 65px;
			width: calc(50% - 40px);
  			span{
  				background: none !important;
  				width: 100%;
  				text-align: center;
  				&:before{
  					background: none !important;
  					margin: 0 auto;
  				}
  			}
  		}
  	}
  	.projects-slider-wrap{
  		width: 100% !important;
  		margin: 0 0 99px 0;
  	}
  	.projects-slider{
  		overflow: visible;
  	}
  		.projects-slider .icon-long-arr-l, .projects-slider .icon-long-arr-r, .projects-slider .slick-counter{
  			bottom: -80px;
  		}
  	.center-block{
  		padding: 0;
  	}
  	.equipment-slider-bg{
  		height: 100%;
  	}
  		.equipment-slider-wrap .go-to-catalog{
  			display: none;
  		}
  	.info-wrap{
  		display: none;
  	}
  	.map-desc{
  		height: 80px;
  		width: 100%;
  	}
  	.map{
  		margin-right: 0;
  	}
  	.map-desc__tabs-desc{
  		width: 100%;
  	}
  	.multislider-tabs{
  		width: 100%;
  	}
  	.header .center-block{
  		padding: 0 10px;
  	}
  	.multisliders-slider .icon-long-arr-r, .multisliders-slider .icon-long-arr-l{
  		display: none !important;
  	}
  	.main-description{
  		padding: 30px 10px;
  	}
  	.load_more_text{
  		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(255,255,255,1) 73%);
		background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 73%);
		background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 73%);
		height: 175px;
		span{
			position: absolute;
			bottom: 30px;
			color: #58b6e7;
			font-size: 14px;
			left: 10px;
			text-decoration: underline;
		}
  	}
  	.main-description{
  		height: 385px;
  		overflow: hidden;
  		position: relative;
  		margin-bottom: 0px;
  		&.active{
  			height: auto;
  			margin-bottom: 20px;
  			.load_more_text{
  				display: none;
  			}
  		}
  	}
  	.footer-box{
  		display: none;
  	}
  	.foot-li-1:last-child{
  		width: 100%;
  	}
  	.foot-links-block{
  		br{
  			display: none;
  		}
  		a{
  			padding: 0 20px 0 0;
  			font-size: 13px;

  		}
  		&.fl{
  			float: left;
  			width: 50%;
  			margin-bottom: 0;
  			a{
  				display: block;
  				&.icon-fb, &.icon-yt{
  					display: inline-block;
  				}
  			}
  		}
  	}
  		.foot-links-block .icon-message{
  			margin-bottom: 3px;
  			margin-right: 7px;
  		}
  		.foot-links-block .icon-account{
  			margin-right: 7px;
  		}
  	footer{
  		height: auto;
  		padding: 40px 0;
  		.center-block{
  			padding: 0 10px;
  		}
  	}
  	.footer-copyright, .defa-block{
  		width: 100%;
  		float: none;
  		padding-top: 18px;
  	}
  	.projects-slider-wrap .info-block{
  		padding: 22px 10px;
  		min-height: 10px;
  		h3{
  			font-size: 16px;
  			padding-bottom: 10px;
  			margin-bottom: 0;
  		}
  	}
  	.equipment-slider-wrap h3{
  		margin-bottom: 17px;
  		margin-left: 10px;
  	}
  	.projects-slider-wrap .link{
  		left: 10px;
  		position: static;
  		padding: 10px 0 0 0;
  		display: block;
  	}
  	.equipment-slider-anim-block{
  		padding-left: 10px;
  	}
  	.projects-slider-wrap .desc{
  		font-size: 14px;
  	}
  	.projects-slider-wrap .title{
  		font-size: 21px;
  	}
  	.multislider-tabs{
  		left: 0;
  	}
  	.multisliders-slider-item{
  		padding: 0 10px;
  	}
  	.multisliders-wrap{
  		padding: 20px 10px;
  	}
  	.multislider-link{
  		margin-left: 20px;
  	}
  	.multislider-links{
  		bottom: 23px;
  	}
	

	//product
  	.top-promo-blue .crumbs{
  		display: none;
  	}
  	.top-promo-blue{
  		background:#fff;
  		padding: 0;
  		position: relative;
  		overflow: hidden;
  		height: 600px;
  		margin-bottom: 20px;
  		&.active{
  			height: auto;
  			margin-bottom: 20px;
  			.load_more_text{
  				display: none;
  			}
  		}
  		.center-block-min{
  			padding: 0;
  		}
  		.table{
  			margin-top: 0;
  			.cell{
  				margin-right: 0;
  				padding-right: 0;
  				img{
  					width: 100%;
  					margin-bottom: 20px;
  				}
  				&:last-child{
  					display: none;
  				}
  				h1{
  					padding: 0 10px;
  					font-size: 24px;
  					color: #3d5567;
  					font-weight: bold;
  					margin-bottom: 15px;
  				}
  				p{
  					padding: 0 10px;
  					margin-bottom: 10px;
  					font-size: 14px;
  					color: #3d5567;
  				}
  			}
  		}
  	}
 	.center-block-min{
 		padding: 0;
 	}	
 	.contacts-block-bg{
 		display: none;
 	}
 	.contacts-block{
 		width: 100%;
 		background:#fff;
 		padding: 24px 10px;
 		margin-bottom: 100px;
 		.col-1, .col-2{
 			width: 100%;
 			float: none;
 		}
 	}
 		.contacts-block .btn_blue{
 			top: auto;
 			bottom: -80px;
 			right: 0;
 			left: auto;
 		}
 	.smpl-txt-sldr-count{
 		float: none;
 		width: 100%;
 		margin: 0 0 20px 0;
 	}
 		.smpl-txt-sldr-count__item{
 			padding-top: 25px;
 			padding-bottom: 25px;
 			width: auto;
 			padding-left: 0;
 			h1, div,p{
 				padding: 0 10px;
 			}
 		}
 	.smpl-txt-sldr-count-wrap{
 		margin-left: 0;
 		margin-right: 0;
 	}
 	.order-form-bg{
 		display: none;
 	}
 	.order-form-wrap{
 		padding-right: 0;
 	}
 	.order-form .form-line{
 		//display: none;
 	}
 	.order-form{
 		padding: 20px 10px;
 	}
 		.order-form .form-line label{
 			display: block;
 			padding-bottom: 15px;
 		}
 		.order-form .input-wrap{
 			width: 100%;
 			padding-left: 0;
 			margin-left: 0;
 			margin-right: 0;
 			padding-right: 0;
 		}
 	.order-form .min-form-params .form-line{
 		display: block;
 		width: 100%;
 	}
 	.order-form .min-form-params .form-line:nth-child(2n) .input-wrap, .order-form .min-form-params .form-line:nth-child(2n-1) .input-wrap{
 		padding-left: 0;
 		padding-right: 0;
 	}
 	.order-form .send-copy{
 		display: none;
 	}
		.order-form .buttons .btn_blue, .order-form .buttons .btn_red{
			float: none;
			display: block;
			margin: 0 auto;
			margin-bottom: 17px;
		}
	.slider-width-desc{
		padding: 0;
	}
	.slider-width-desc__text{
		position: static;
		width: 100%;
		margin-left: 0;
	}
	.desc-tabs__tab_open{
		@extend .desc-tabs__tab;
		display: table-cell;
	}
	.desc-tabs__cont_inner{
		padding: 0 10px;
		display: none;
		padding-bottom: 40px;
	}
	.desc-tabs__cont-wrap{
		padding: 0;
	}
	.desc-tabs__tabs-line{
		display: none;
	}
	.desc-tabs__cont{
		display: block;
		position: static;
		padding-bottom: 0;
	}

	//contacts
	.contacts-map-wrap .btn-to-bottom{
		display: none;
	}
	.crumbs{
		display: none;
	}
	.contacts-list{
		padding: 25px 10px;
		padding-bottom: 50px;
		.col-1, .col-2{
			display: block;
			float: none;
			width: 100%;
		}
		h2{
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			padding: 19px 0;
			background:#cdcccc url(../images/arrow_bottom.png) no-repeat center right 15px;
			color: #fff;
			margin-bottom: 0;
			a{
				color: inherit;
				font-size: 18px;
			}
			&:before{
				display: none;
			}
			&.active{
				background:#f5f5f5 url(../images/arrow_top.png) no-repeat center right 15px;
				color: #3d5567;
			}
		}
		h3{
			font-size: 16px;
		}
	}
	.contacts-list__items-group_show{
		padding: 20px 0;
		font-size: 14px;
		display: none;
	}

	.contacts-list__items-group{
		margin-bottom: 0;
	}
	.contacts-list h1{
		font-size: 24px;
	}

	//designers
	.top-promo {
		padding: 0;
		width: 100% !important;
		.top-promo-bg{
		position: static;
		display: block;
		height: 223px;
		}
	}
	.btr-wrap.text-r{
		text-align: left;
	}
	.top-promo .info-block .text-wrap{
		width: 100%;
		box-sizing: border-box;
		padding: 20px 10px;
		height: auto;
		.title{
			font-size: 26px;
		}
		.desc{
			font-size: 16px;
		}
	}
	.example-block1-bg, .example-block2-bg, .example-block3-bg{
		position: static;
		height: 222px;
		display: block;
		margin-top: 15px;
	}
	.example-block1__top, .example-block2__top, .example-block3__top{
		overflow: visible;
	}
	.example-block1 .info-block, .example-block2 .info-block, .example-block3 .info-block{
		display: block;
		width: 100%;
		margin: 0;
		position: static;
		.btn.btn_green{
			position: absolute;
			bottom: -90px;
			z-index: 2;
			right: 0;
			width: 260px;
			display: block;
		}
	}
		.example-block1 , .example-block2, .example-block3 {
			.info-block .text-wrap{
			width: 100%;
			height: auto;
			padding: 20px;
			}
		}
	.example-blocks{
		margin: 0;
	}
	.example-block1__desc, .example-block2__desc, .example-block3__desc {
		.cols > div{
		float: none;
		width: 100%
		}
	}
	.example-slider-wrap{
		margin: 0;
		margin-bottom: 105px;
	}

	//solutions
	.solutions-list__img{
		display: block;
		position: static;
		height: 220px;
		width: 100%;
		margin:  0 0 14px 0;
	}
	.solutions-list__item{
		padding: 20px 0px;
		&>*{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.solutions-list__item .btn{
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding-right: 85px;
		display: block;
		margin: 0 auto;
	}
	.solutions-list__title{
		font-size: 21px;
	}
	.solutions-list__text{
		font-size: 14px;
	}

	//press center
	.press-slider-switch{
		position: static;
		padding: 0 10px;
		padding-bottom: 22px;
	}
	.press-slider__link-all{
		top: 22px;
	}
	.press-slider-wrap h3{
		margin: 0 10px 20px 10px;
	}
	.press-slider-wrap{
		padding: 25px 0;
	}
	.video-slider-wrap{
		margin-left: 0;
	}
	.white-strip.white-strip{
		display: none;
	}
	.video-slider__item-wrap{
		padding-right: 0;
		margin-right: 0;
	}
	.news-slider__title{
		font-size: 16px;
		line-height: 1.2;
	}
	.news-slider__text{
		font-size: 14px;
		line-height: 1.2;
	}
	.press-slider-switch li{
		margin-right: 7px;
	}

	//media
	.icons-sliders-wrap .press-slider-wrap{
		width: 100%;
		float: none;
	}
	.icons-slider .icon-long-arr-r, .icons-slider .icon-long-arr-l{
		bottom: -105px;
	}
	.icons-slider__title{
		font-size: 16px;
	}
	.icons-slider__desc{
		font-size: 14px;
	}
	.icons-sliders-wrap .press-slider-wrap{
		padding-bottom: 25px;
	}
	.icons-slider-wrap{
		margin-left: 10px;
	}

	//video
	.video-list__item{
		width: 100%;
		float: none;
	}
	.pagination a{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.video-list__date{
		position: static;
		padding-top: 10px;
		display: block;
		width: 100%;
		text-align: right;
	}
	.pagination{
		margin-top: -20px;
		margin-bottom: 50px;
	}
	.video-list__info .cell{
		padding: 10px;
	}

	//reviews 
	.reviews-list__item-wrap{
		width: 100%;
		padding: 20px 10px;
		float: none;
		min-height: 100px;
		height: auto;
		margin-right: 0 !important;
	}
		.reviews-list__link{
			position: relative;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: 16px 0 0 0;
		}

	//questionnaries
	.files-list-wrap .cell{
		display: block;
		float: none;
		width: 100%;
		border: none !important;

	}	
	.files-list-wrap .cell:last-child{
		border-left: none;
	}
	.files-list{
		padding: 20px 10px ;
	}


	//cont item
	.simple-desc{
		padding: 20px 10px;
		h1{
			font-weight: bold;
			font-size: 24px;
		}
		p, ul{
			color: #3d5567;
			font-size: 14px;
		}
		ul{
			margin-left: 10px !important; 
		}
	}
	.address-list__item-wrap{
		width: 100%;
		float: none;
		margin: 0 0 20px 0;
		padding: 0 !important;
	}
		.address-list__item{
			padding: 20px 10px;
		}
	.address-list__item, .address-list__map{
		float: none;
		position: static;
		width: 100% !important;
	}

	//search
	.search-results{
		padding: 20px 10px;
	}
	.search-results__title{
		margin-bottom: 15px;
		font-size: 24px;
	}
	.search-list__item{
		padding: 26px 10px 25px 37px;
	}
	.search-list__item:before{
		left: 10px;
		top: 30px;
	}

	//project
	.tile-cont-img-wrap{
		padding-top: 20px;
	}
	.tile-cont-img__item .cell, .tile-cont-img__normal{
		padding: 10px !important;
		font-size: 14px;
	}
	.smpl-txt-sldr-count-wrap{
		margin: 0 !important;
	}
	.smpl-view-inline{
		width: 100%;
		margin-bottom: 100px;
		padding: 20px 10px !important;
	}
	.smpl-view-inline__link-all{
		right: 29px;
		top: 27px;
	}
	.smpl-txt-sldr-count__item{
		padding: 20px 10px !important;
	}
	.press-slider-wrap h1{
		margin-left: 10px;
	}
	.press-slider-wrap.photo .press-slider__link-all{
		top: 31px; 
		right: 10px;
	}
	.blue-line-pagin__item{
		width: 100%;
		float: none;
		text-align: center;
		a{
			text-align: center;
		}
	}

}

@include mq($max-width: 767px) {
	.equipment-slider-item{
		width: 100%;
		margin: 0;
		min-height: 220px;
	}
	.equipment-slider-wrap{
		padding: 25px 0 0 0;
		margin-bottom: 90px;
	}
	.equipment-slider .icon-long-arr-r, .equipment-slider .icon-long-arr-l{
		bottom: -79px;
	}
	.icons-slider .icon-long-arr-l{
		right: 79px;
	}
}

@include mq($max-width: 600px) {
	.news-slider{
		margin: 0 10px;
	}
	.video-list__img{
		height: 160px;
	}
	.second-menu-btn{ 
  		padding: 25px  0; 
  		padding-bottom: 10px;
  		.btn{
  			height: 110px;
  			padding: 0;
  			font-size: 14px;
  			padding-top: 65px;
  			width: 145px;
  			margin-right: 4px;
  			margin-left: 4px;
  			margin-bottom: 10px;
  			span{
  				background: none !important;
  				width: 100%;
  				text-align: center;
  				&:before{
  					background: none !important;
  					margin: 0 auto;
  				}
  			}
  		}
  	}
  	.press-slider-wrap.fix-height{
  		min-height: 10px;
  	}
  	.press-slider__link-all{
  		top: 25px;
  		right: 15px;
  	}
  	.press-slider-wrap{
  		padding-bottom: 0;
  	}
  	.video-slider .icon-long-arr-r, .video-slider .icon-long-arr-l, .video-slider .slick-counter{
  		bottom: -80px;
  	}
  	.news-slider__link{
  		position: static;
  		padding-top: 20px;
  		display: block;
  	}
}