// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 

.two-block-img-text{
	.two-block-img-text__desc{
		img{
			display: none;
		}
	}
}
.projects-selects{
	position: relative;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}
.left-img-list{
	li{
		display: table;
		width: 100%;
	}
	.img-list{
		display: table-cell;
		vertical-align: top;
		width: 110px;
	}
		.img{
			float: none;
			margin: 0;
		}
	.text-list{
		display: table-cell;
		vertical-align: top;
		padding-left: 40px;
	}
}
.list-body{
	position: relative;
}
footer .center-block .table {
  position: relative;
  display: block;
  overflow: hidden;
}
.footer-box{
	position: relative;
	float: left;
	width: 42.5%;
	.foot-li-1, .foot-li-1:last-child{
		width: 50%;
	}
}
.foot-li-1 {
	position: relative;
	display: block;
	float: left;
	width: 21.25%;
	&:last-child{
		width: 13.75%;
	}
}
.footer-bottom{
	position: relative;
	overflow: hidden;
}
.footer-copyright {
	position: relative;
	float: left;
	width: 85%;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}
.defa-block{
	position: relative;
	float: left;
	width: 15%;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
}
.icon-defa{
	margin-top: 11px;
	font-size: 28px;
	opacity: 0.5;
	-webkit-transition: 0.2s 0.2s linear;
	-moz-transition: 0.2s 0.2s linear;
	-ms-transition: 0.2s 0.2s linear;
	-o-transition: 0.2s 0.2s linear;
	transition: 0.2s 0.2s linear;
}
.icon-defa:hover {
	opacity: 1;
}

//styles for custom device width

.header-right{
	position: relative;
	float: right;
}

.navbar-toggle{
	display: none;
	position: relative;
	float: right;
	width: 37px;
	height: 24px;
	cursor: pointer;
	&:hover{
		.icon-bar{
			background: #cc2a3e;
		}
	}
	&.active{
		.icon-bar{
			&:nth-child(1), &:nth-child(3){
				opacity: 0;
			}
			&:nth-child(2){
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(4){
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}
	.icon-bar{
		position: absolute;
		background: #57b6e7;
		left: 0;
		height: 4px;
		width: 100%;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2), &:nth-child(4){
			top: 10px;
		}
		&:nth-child(3){
			top: 20px;
		}
	}
.menu-arr{
	display: none;
	position: absolute;
	background-image: url('../images/menu-arr.png');
	background-position: center;
	background-repeat: no-repeat;
	top: 15px;
	right: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 50;
}

//ширина на якій починаються проблеми
@include mq($min-width: 1440px) {
	.main-menu > li:hover .submenu-wrap {
	  display: block;
	}
}


@include mq($max-width: 1629px) {
	.center-block{
		padding: 0 15px;
	}
}
@include mq($max-width: 1439px) {
	.center-block{
		padding: 0 50px;
	}
	.header{
		height: 120px;
		padding-bottom: 20px;
		&.fixed{
			height: 65px;
			z-index: 12000;
			.head-icons-wrap{
				margin-top: 20px;
			}
			.navbar-toggle{
				margin-top: 20px;
			}
			.main-menu{
				top: 65px;
				margin-top: 0; 
			}
			.submenu-wrap{
				top: auto;
			}
		}
	}
		.logo-head{
			width: 215px;
			line-height: 0;
		}
		.logo-head-fixed{
			line-height: 0;
		}
		.phone-num-head{
			font-size: 30px;
			margin-top: 46px;
			margin-right: 60px;
		}
		.head-icons-wrap{
			float: left;
			margin-top: 50px;
			margin-right: 60px;
			a{
				font-size: 22px;
				margin-right: 30px;
			}
			.icon-search, .icon-account, .icon-message{
				font-size: 25px;
			}
		}
		.phone-num-head{
			font-size: 30px;
			margin-top: 46px;
			margin-right: 30px;
		}
		.navbar-toggle{
			display: block;
			margin-top: 50px;
		}
		.head-second-menu{
			display: none;
		}
		.main-menu{
			display: none;
			position: absolute;
			background: #fff;
			left: 0;
			top: 120px;
			width: 100%;
			margin: 0;
			z-index: 2000;
			&>li{
				position: relative;
				display: block;
				margin: 0;
				margin-bottom: 2px;
				&>a{
					display: block;
					background: #58b6e7;
					color: #fff;
					font-size: 18px;
					padding: 25px 50px;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
					&.active{
						color: #fff;
					}
				}
				&.active .submenu-wrap + .menu-arr{
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
		.submenu-wrap{
			position: relative;
			background-color: transparent;
			top: auto;
			left: auto;
			padding: 0;
			&>ul{
				display: block;
				background: #4da3d0;
				height: auto;
				padding: 15px 0;
			}
			li{
				position: relative;
			}
		}
		.submenu-li-1{
			width: auto;
			margin: 0;
			&>a{
				display: block;
				background: #4da3d0;
				color: #fff;
				padding: 15px 50px 15px 80px;
				margin: 0;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
			ul{
				display: none;
				background: #4597c2;
				padding: 15px 0;
			}
			.menu-arr{
				top: 7px;
			}
			&.active .menu-arr{
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
		.submenu-li-2{
			margin: 0;
			a{
				display: block;
				color: #fff;
				padding: 10px 50px 10px 130px;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.menu-arr{
			display: block;
		}
	.main-promo-slider-wrap{
		.info-block{
			left: 0;
		}
	}
	.main-promo-slider{
		.slick-dots{
			right: 50px;
		}
	}
	.second-menu-btn{
		padding: 0 50px;
		letter-spacing: 0;
		.btn{
			width: 340px;
			margin-bottom: 25px;
			&:nth-child(even){
				margin-right: 0;
			}
		}
	}
	.multislider-tabs{
		left: 80px;
	}
	.projects-slider-wrap .info-block{
		right: 0;
		width: 100%;
	}
	.main-description{
		font-size: 14px;
		p{
			margin-bottom: 20px;
		}
		.col-1{
			float: none;
			width: auto;
			margin-bottom: 22px;
		}
		.col-2{
			float: none;
			width: auto;
		}
	}
	footer{
		height: 650px;
	}
	.footer-box{
		width: 38%;
		.foot-li-1, .foot-li-1:last-child{
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.foot-li-1:last-child{
		width: 24%;
	}
	.foot-li-1{
		.foot-links-block{
			a{
				display: inline-block;
				&:last-child{
					margin-top: 15px;
				}
			}
		}
	}
	.footer-copyright {
		width: 76%;
	}
	.defa-block{
		width: 24%;
	}
	.equipment-slider-wrap{
		padding: 40px 30px 80px 30px;
		h3{
			margin-left: 0;
		}
		.go-to-catalog{
			margin-right: 0;
		}
	}
	.equipment-slider{
		width: 103.85%;
		margin-left: -15px;
		.icon-long-arr-l{
			right: 30px;
		}
		.icon-long-arr-r{
			right: -50px;
		}
	}

	/* -------- -------- ------- -------       inner pages        ------- ------- ------- -------*/
	
	.contacts-block{
		overflow: visible;
		.btn_blue{
			right: -50px;
		}
	}
	.contacts-block-bg{
		left: 0;
		right: 30px;
		width: auto;
		box-sizing: border-box;
	}
	.btn.btn_mirr{
		padding: 27px 85px 30px 5px;
		span{
			right: 0;
			left: auto;
		}
	}
	.desc-tabs__tabs-line{
		display: table;
		width: 100%;
	}
		.desc-tabs__tab{
			display: table-cell;
			vertical-align: middle;
			width: 20%;
			font-size: 16px;
			line-height: 20px;
			border-left: 2px solid #f2f7fc;
			padding: 0 20px;
			&:first-child{
				border-left: 0;
			}
		}
	.desc-tabs__cont-wrap{
		padding: 0 50px;
	}

	.order-form-wrap{
		padding-right: 270px;
	}
	.order-form-bg{
		right: -50px;
	}
	.top-promo{
		padding: 80px 0;
		.top-promo-bg{
			left: 0;
		}
		.info-block{
			margin-left: 0;
			.text-wrap{
				padding: 40px 50px;
			}
			.title{
				font-size: 36px;
			}
		}
	}
	.crumbs{
		padding-left: 50px;
		li{
			display: inline;
		}
	}
		.center-block-min .crumbs{
			padding-left: 0;
		}
	.anchors-menu-wrap{
		margin: 0 -50px 50px;
		&.fixed{
			top: 65px;
			margin: 0 0;
			z-index: 11000;
		}
	}
	.anchors-menu{
		a{
			font-weight: 400;
		}
	}
	.example-blocks{
		margin: 0 -50px 40px;
	}
		.btn.btn_mirr{
			padding: 27px 5px 30px 85px;
		}
		.btn.btn_mirr span{
			right: auto;
			left: 0;
		}
		.example-block2{
			.btn{
				margin-left: 0;
			}
			&.example-block2_mirr{
				.example-block2-bg{
					left: auto;
					right: 260px;
				}
				.btn{
					margin-right: 0;
				}
			}
		}
		.example-block1-bg{
			right: 260px;
		}
		.example-block2-bg{
			left: 260px;
		}
	.example-slider-wrap{
		margin: 0 -50px 80px 50px;
	}
	.example-slider{ 
		.icon-long-arr-l{
			right: 160px;
		}
		.slick-counter{
			right: 80px;
		}
		.icon-long-arr-r{
			right: 0;
		}
	}
	.example-slider__item{
		p{
			width: auto;
		}
	}
}

@include mq($max-width: 1339px){
	h1{
		letter-spacing: -0.01em;
	}
	.tablet-hidden{
		display: none !important;
	}
	.center-block-min{
		max-width: none;
		padding: 0 50px;
	}
	.top-promo-blue{
		.center-block-min{
			padding-right: 0;
		}
		.cell{
			&:last-child{
				img{
					right: -40px;
				
				}
			}
		}
		.table {
			margin-top: 30px;
		}
	}
	.order-form{
		padding: 50px 50px;
	}
	.smpl-txt-sldr-count-wrap{
		margin: 0 -50px 40px;
		overflow: hidden;
	}
		.smpl-txt-sldr-count{
			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
			}
		}
	.smpl-txt-sldr-count__item{
		padding: 40px 50px 15px;
	}
	.solutions-list{
		margin-bottom: 70px;
	}
	.solutions-list__img{
		width: 440px;
		margin-right: 40px;
	}
	.solutions-list__item{
		padding-left: 480px;
		.btn{
			left: 480px;
		}
	}
	.press-slider-wrap{
		&.fix-height{
			min-height: 380px;
		}
		h3{
			color: #58b6e7;
		}
	}
	.press-slider-switch{
		top: 54px;
		right: 240px;
	}
	.press-slider__link-all{
		top: 54px;
	}
	.video-slider__item-wrap{
		padding-right: 40px;
	}
		.video-slider-img{
			height: 140px;
		}
		.video-slider-title{
			font-size: 14px;
			line-height: 18px;
		}
	.icons-sliders-wrap{
		.press-slider-wrap{
			width: 440px;
		}
	}
	.video-list{
		margin-bottom: 20px;
	}
		.video-list__item{
			width: 48%;
		}
			.video-list__img{
				height: 245px;
			}
			.video-list__title{
				font-size: 14px;
				line-height: 18px;
			}
			.video-list__info{
				.cell{
					height: 80px;
					padding: 15px 20px;
				}
			}
			.video-list__date{
				bottom: 3px;
				width: 100px;
				text-align: right;
			}
	.pagination{
		a{
			letter-spacing: 0;
		}
	}
	.reviews-list{
		text-align: justify;
		&:after{
			content: "";
			display: inline-block;
			height: 0;
			width: 100%;
		}
	}
	.reviews-list__item-wrap{
		width: 48%;
		text-align: left;
		&:nth-child(2n-1){
			margin-right: 0;
		}
	}
	.files-list__item{
		margin-bottom: 25px;
	}
	.address-list__item{
		padding: 45px 50px;
	}
	.address-list__map{
		height: 430px;
	}
	.news-slider__item{
		padding-right: 35px;
	}
	.search-list__item{
		padding: 45px 50px 45px 100px;
	}
	.tile-cont-img-wrap{
		color: #3d5567;
		padding-top: 50px;
		&.mirr{
			padding-top: 40px;
			.tile-cont-img__item{
				display: block;
				&:nth-child(2n-1), &:nth-child(2n){
					.tile-cont-img__img{
						padding-right: 50px;
						padding-left: 50px;
					}
					.tile-cont-img__desc{
						padding-right: 50px;
						padding-left: 50px;
					}
				}
			}
		}
	}
	.tile-cont-img__item{
		display: block;
		.cell{
			display: block;
			width: auto;
			padding-top: 0;
			padding-bottom: 40px;
		}
		&:nth-child(2n-1), &:nth-child(2n){
			.tile-cont-img__img{
				padding-right: 50px;
				padding-left: 50px;
			}
			.tile-cont-img__desc{
				padding-right: 50px;
				padding-left: 50px;
			}
		}
	}
	.smpl-view-inline{
		width: 48%;
		padding: 50px 50px 35px;
	}
	.smpl-txt-sldr-count__item{
		padding-top: 50px;
	}
	.blue-line-pagin__item{
		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
	}
	.two-block-img-text{
		display: block;
		.cell{
			display: block;
			width: auto;
			img{
				display: block;
				width: 100%;
				margin-top: 40px;
			}
		}
	}

	.two-cols-table{
		display: block;
		&.table{
			.cell{
				width: auto;
				display: block;
			}
			img{
				display: block;
				max-width: 500px;
				margin: 0 auto;
			}
		}
	}
	.two-block-img-text{
		.cell{
			&:first-child, &:last-child{
				padding: 0;
			}
		}
	}
	.square-list__item{
		display: block;
		width: auto;
		min-height: 110px;
		margin-bottom: 40px;
		margin-top: 0;
		&:nth-child(2n){
			padding-left: 133px;
			&>span{
				left: 0;
			}
		}
		&:nth-child(2n-1){
			padding-right: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.photo-list{
		position: relative;
		text-align: justify;
		margin-right: 0;
		margin-bottom: 30px;
		&:after{
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			visibility: hidden;
			overflow: hidden;
		}
	}
		.photo-list__item{
			display: inline-block;
			vertical-align: top;
			float: none;
			width: 48%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	.article-bottom-line{
		margin-bottom: 0;
	}
	.banntop__inner{
		padding: 0;
	}
		.banntop__content{
			margin-left: 100px;
		}
		.banntop__background{
			left: 100px;
		}
		.banntop__img-logo{
			left: 600px;
		}
	.crumbs-wrap{
		padding: 0 50px;
	}
	.proj__head-in{
		padding: 60px 50px 50px;
	}
	.proj__item{
		margin-bottom: 40px;
		&:nth-child(2n+1){
			.proj__col-1{
				float: none;
				padding: 0 50px;
			}
			.proj__col-in{
				float: none;
				padding: 0;
			}
			.proj__col-2{
				float: none;
				padding: 0;
			}
		}
	}
	.proj__one{
		padding: 0 50px;
	}
	.proj__col-1{
		float: none;
		width: auto;
		padding: 0 50px;
	}
	.proj__col-in{
		float: none;
		max-width: none;
		padding: 0;
		margin-bottom: 40px;
	}
	.proj__col-2{
		float: none;
		width: auto;
		padding: 0 50px;
	}
	.proj__img{
		margin: 0 auto;
	}
	.float-butt{
		&.fixed{
			top: 65px;
		}
	}
	.ill{
		padding: 0 50px;
	}
	.ill__image{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	.proj__big-ill{
		padding: 0 50px;
	}
	.ill__image-2, .ill__image-3{
		position: relative;
		top: 0;
		left: auto;
		display: inline-block;
		vertical-align: bottom;
		margin: 40px 50px 0;
	}
	.proj__ill-2, .proj__ill-4{
		margin: 40px auto 0;
	}
	.proj__ill-3{
		margin: 0 auto;
	}
	.proj__cont{
		padding: 40px 50px;
	}
	.prtable{
		margin-bottom: 40px;
	}
	.prhidden{
		display: none;
	}
	.proj__more{
		display: block;
	}
	.links-list{
		&.push-right{
			margin-left: 60px;
		}
	}
	.company-col-1{
		width: 48%;
	}
	.company-col-2{
		width: 52%;
		padding-left: 90px;
	}
	.company-col-2__line{
		left: 33px;
	}
	.company-col-2__block{
		padding: 25px 50px 30px 40px;
		margin-bottom: 40px;
		&:before{
			top: 50%;
			margin-top: -30px;
		}
		.isotope{
			top: 50%;
			margin-top: -5px;
		}
	}
	.company-col-1__img-block{
		height: 540px;
	}
	.CEO-block{
		min-height: 800px;
		padding-bottom: 40px;
	}
	.CEO_quote{
		top: 580px;
		bottom: auto;
	}
	.team-slider__desc{
		margin-bottom: 20px;
	}
	.team-contacts-list__phone, .team-contacts-list__mail, .team-contacts-list__address{
		&:before{
			content: none;
		}
	}
	.team-contacts-list__phone{
		margin-bottom: 0;
	}
	.team-contacts{
		h2{
			margin-bottom: 15px;
		}
	}
	.map-filters__half-line{
		width: 50%;
		&:nth-child(2n-1){
			float: left;
			padding-right: 20px;
		}
		&:nth-child(2n){
			float: right;
			padding-left: 20px;
		}
	}
		.map-filters__label{
			width: 180px;
		}
		.map-filters{
			.select-wrap{
				width: 49%;
			}
		}
		.select-val{
			white-space: nowrap;
			padding: 0 40px 0 20px;
			text-overflow: ellipsis;
		}
	.projescts-res-filters__item{
		&:nth-child(2n-1){
			padding-right: 20px;
		}
		&:nth-child(2n){
			padding-left: 20px;
		}
	}

	.structure-block{
		height: 815px;
		width: 825px;
		margin: 0 auto;
	}
	.structure-block_item-wrap{
		width: 280px;
		height: 280px;
		&:first-child{
			width: 364px;
			height: 364px;
			left: 230px;
			top: 220px;
		}
		&:nth-child(2){
			left: 273px;
		}
		&:nth-child(3){
			left: 495px;
			top: 51px;
		}
		&:nth-child(4){
			left: 546px;
			top: 261px;
		}
		&:nth-child(5){
			left: 481px;
			top: 474px;
		}
		&:nth-child(6){
			left: 273px;
			top: 536px;
		}
		&:nth-child(7){
			left: 62px;
			top: 473px;
		}
		&:nth-child(8){
			left: 0;
			top: 261px;
		}
		&:nth-child(9){
			left: 51px;
			top: 51px;
		}
	}
	.structure-block_item{
		padding: 50px 50px 40px;
	}
	.structure-block__title{
		font-size: 18px;
	}
	.structure-block__text{
		font-size: 12px;
		line-height: 18px;
	}
	.left-img-list{
		.text-list{
			padding-left: 25px;
		}
	}
	.solutions-list__item{
		padding-right: 40px;
	}

	/*.popup-feedback{
		overflow-y: scroll;
	}*/
	.popup-feedback__form-wrap{
		margin-bottom: 40px;
	}
	.history-page__imwr{
		float: none;
		width: auto;
		text-align: center;
		margin-right: 0;
	}
}
