// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width

.navbar-toggle{
	display: none;
	position: relative;
	float: right;
	width: 37px;
	height: 24px;
	cursor: pointer;
	&:hover{
		.icon-bar{
			background: #cc2a3e;
		}
	}
	&.active{
		.icon-bar{
			&:nth-child(1), &:nth-child(3){
				opacity: 0;
			}
			&:nth-child(2){
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(4){
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}
	.icon-bar{
		position: absolute;
		background: #57b6e7;
		left: 0;
		height: 4px;
		width: 100%;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2), &:nth-child(4){
			top: 10px;
		}
		&:nth-child(3){
			top: 20px;
		}
	}
.menu-arr{
	display: none;
	position: absolute;
	background-image: url('../images/menu-arr.png');
	background-position: center;
	background-repeat: no-repeat;
	top: 15px;
	right: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 50;
}

//ширина на якій починаються проблеми
@include mq($max-width: 1380px) {
  
}


@include mq($max-width: 1629px) {
	.center-block{
		padding: 0 15px;
	}
}
@include mq($max-width: 1439px) {
	.center-block{
		padding: 0 50px;
	}
	.header{
		height: 120px;
		padding-bottom: 20px;
		&.fixed{
			height: 65px;
			.head-icons-wrap{
				margin-top: 20px;
			}
			.navbar-toggle{
				margin-top: 20px;
			}
			.main-menu{
				top: 65px;
			}
		}
	}
		.logo-head{
			width: 215px;
			line-height: 0;
		}
		.logo-head-fixed{
			line-height: 0;
		}
		.phone-num-head{
			font-size: 30px;
			margin-top: 46px;
			margin-right: 60px;
		}
		.head-icons-wrap{
			margin-top: 50px;
			margin-right: 30px;
			a{
				font-size: 22px;
				margin-right: 30px;
			}
			.icon-search, .icon-account, .icon-message{
				font-size: 25px;
			}
		}
		.phone-num-head{
			font-size: 30px;
			margin-top: 46px;
			margin-right: 60px;
		}
		.navbar-toggle{
			display: block;
			margin-top: 50px;
		}
		.head-second-menu{
			display: none;
		}
		.main-menu{
			display: none;
			position: absolute;
			background: #fff;
			left: 0;
			top: 120px;
			width: 100%;
			margin: 0;
			z-index: 2000;
			&>li{
				position: relative;
				display: block;
				margin: 0;
				margin-bottom: 2px;
				&>a{
					display: block;
					background: #58b6e7;
					color: #fff;
					font-size: 18px;
					padding: 25px 50px;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
		.submenu-wrap{
			position: relative;
			background-color: transparent;
			top: auto;
			left: auto;
			padding: 0;
			&>ul{
				display: block;
				background: #4da3d0;
				height: auto;
				padding: 15px 0;
			}
			li{
				position: relative;
			}
		}
		.submenu-li-1{
			width: auto;
			margin: 0;
			&>a{
				display: block;
				background: #4da3d0;
				color: #fff;
				padding: 15px 50px 15px 80px;
				margin: 0;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
			ul{
				display: none;
				background: #4597c2;
				padding: 15px 0;
			}
		}
		.submenu-li-2{
			margin: 0;
			a{
				display: block;
				color: #fff;
				padding: 10px 50px 10px 130px;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
		}
		.menu-arr{
			display: block;
		}
	.main-promo-slider-wrap{
		.info-block{
			left: 0;
		}
	}
	.main-promo-slider{
		.slick-dots{
			right: 50px;
		}
	}
	.second-menu-btn{
		padding: 0 50px;
		letter-spacing: 0;
		.btn{
			width: 340px;
			margin-bottom: 25px;
			&:nth-child(even){
				margin-right: 0;
			}
		}
	}
	.projects-slider-wrap .info-block{
		right: 0;
		width: 100%;
	}
	.main-description{
		font-size: 14px;
		p{
			margin-bottom: 20px;
		}
	}
		.col-1{
			float: none;
			width: auto;
			margin-bottom: 22px;
		}
		.col-2{
			float: none;
			width: auto;
		}
}

